body {
    margin: 10px;
}

.icon_image {
    height: 80px;
    display: inline-block;
}

.icon_image_container {
    width: 120px;
    text-align: center;
    background: white;
    border: 1px solid grey;
    margin-right: auto;
    margin-left: auto;
}

.icon {
    width: 152px;
    border: 2px solid blue;
    text-align: center;
    margin: 0;
    display: inline-block;
}

.icon.attacker {
    border-color: green;
}

.icon.enemy {
    border-color: black;
    background-color: red;
}

.icon.defender {
    border-color: red;
    background-color: black;
    color: white;
}

h1 {
    font-size: 40px;
    float: right;
    padding: 20px;
}

h2 {
    font-size: 28px;
    margin-top: 10px;
}

#info {
    font-size: 22px;
}

.icon_area {
    height: 150px;
}

#attack_btn {
    font-size: 24px;
    margin-top: 8px;
}